*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 50px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #555;
    font-size: larger;
    font-weight: bold;
}

p{
    color: #555;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 110%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #4240ce;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;

}
.header{
    background: radial-gradient(#fff,#a1d0e0);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    transition: transform 0.5s;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #425758;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #e1af23;
}
.col-4:hover{
    transform: translateY(-5px);
}

/*--------------offer----------*/

.offer{
    background: radial-gradient(#fff,#a1d0e0);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}

/*------------- testimonial ------------*/
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/*------------------ brands ---------*/
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100px;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}

/*------------- footer -------------*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin: 20px;
}
.footer-col-1{
    flex-basis: 10%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 120px;
}
.footer hr{
    border:none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: flex;
}
/*------- media query for menu ----------*/
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
        
    }
}
/*------------------ all products -------------*/

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #4240ce;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #4240ce;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #4240ce;
    color: #fff;
}

/*------------------ 1st product details -----------*/

.productOne{
    margin-top: 80px;
}
.productOne .col-2 img{
    padding: 0;
}
.productOne .col-2{
    padding: 20px;
}
.productOne h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.productOne select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.productOne input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #4240ce;
}
input:focus{
    outline: none;
}
.productOne .fa{
    color: #4240ce;
    margin-left: 10px;
}

.smallone-img-row{
    display: flex;
    justify-content: space-between;
}
.smallone-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
/*-------- 2nd product details ----------*/

.productTwo{
    margin-top: 80px;
}
.productTwo .col-2 img{
    padding: 0;
}
.productTwo .col-2{
    padding: 20px;
}
.productTwo  h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.productTwo select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.productTwo input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #4240ce;
}
input:focus{
    outline: none;
}
.productTwo .fa{
    color: #4240ce;
    margin-left: 10px;
}

.smalltwo-img-row{
    display: flex;
    justify-content: space-between;
}
.smalltwo-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
h1.zero.before{
    opacity: 1;
}
/*--------- 3rd product details ----------*/

.productThree{
    margin-top: 80px;
}
.productThree .col-2 img{
    padding: 0;
}
.productThree .col-2{
    padding: 20px;
}
.productThree  h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.productThree select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.productThree input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #4240ce;
}
input:focus{
    outline: none;
}
.productThree .fa{
    color: #4240ce;
    margin-left: 10px;
}

.smallthree-img-row{
    display: flex;
    justify-content: space-between;
}
.smallthree-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/*--------- 4th product details ----------*/

.productFour{
    margin-top: 80px;
}
.productFour .col-2 img{
    padding: 0;
}
.productFour .col-2{
    padding: 20px;
}
.productFour  h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.productFour select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.productFour input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #4240ce;
}
input:focus{
    outline: none;
}
.productFour .fa{
    color: #4240ce;
    margin-left: 10px;
}

.smallfour-img-row{
    display: flex;
    justify-content: space-between;
}
.smallfour-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/*--------- 5th product details ----------*/

.productFive{
    margin-top: 80px;
}
.productFive .col-2 img{
    padding: 0;
}
.productFive .col-2{
    padding: 20px;
}
.productFive  h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.productFive select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.productFive input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #4240ce;
}
input:focus{
    outline: none;
}
.productFive .fa{
    color: #4240ce;
    margin-left: 10px;
}

.smallfive-img-row{
    display: flex;
    justify-content: space-between;
}
.smallfive-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/*--------- 6th product details ----------*/

.productSix{
    margin-top: 80px;
}
.productSix .col-2 img{
    padding: 0;
}
.productSix .col-2{
    padding: 20px;
}
.productSix  h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.productSix select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.productSix input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #4240ce;
}
input:focus{
    outline: none;
}
.productSix .fa{
    color: #4240ce;
    margin-left: 10px;
}

.smallsix-img-row{
    display: flex;
    justify-content: space-between;
}
.smallsix-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/*--------- 7th product details ----------*/

.productSeven{
    margin-top: 80px;
}
.productSeven .col-2 img{
    padding: 0;
}
.productSeven .col-2{
    padding: 20px;
}
.productSeven  h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.productSeven select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.productSeven input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #4240ce;
}
input:focus{
    outline: none;
}
.productSeven .fa{
    color: #4240ce;
    margin-left: 10px;
}

.smallseven-img-row{
    display: flex;
    justify-content: space-between;
}
.smallseven-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/*--------- 8th product details ----------*/

.productEight{
    margin-top: 80px;
}
.productEight .col-2 img{
    padding: 0;
}
.productEight .col-2{
    padding: 20px;
}
.productEight  h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.productEight select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.productEight input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #4240ce;
}
input:focus{
    outline: none;
}
.productEight .fa{
    color: #4240ce;
    margin-left: 10px;
}

.smalleight-img-row{
    display: flex;
    justify-content: space-between;
}
.smalleight-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/*--------- 9th product details ----------*/

.productNine{
    margin-top: 80px;
}
.productNine .col-2 img{
    padding: 0;
}
.productNine .col-2{
    padding: 20px;
}
.productNine  h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.productNine select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.productNine input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #4240ce;
}
input:focus{
    outline: none;
}
.productNine .fa{
    color: #4240ce;
    margin-left: 10px;
}

.smallnine-img-row{
    display: flex;
    justify-content: space-between;
}
.smallnine-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/*--------- 10th product details ----------*/

.productTen{
    margin-top: 80px;
}
.productTen .col-2 img{
    padding: 0;
}
.productTen .col-2{
    padding: 20px;
}
.productTen  h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.productTen select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.productTen input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #4240ce;
}
input:focus{
    outline: none;
}
.productTen .fa{
    color: #4240ce;
    margin-left: 10px;
}

.smallten-img-row{
    display: flex;
    justify-content: space-between;
}
.smallten-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/*--------- 11th product details ----------*/

.productEleven{
    margin-top: 80px;
}
.productEleven .col-2 img{
    padding: 0;
}
.productEleven .col-2{
    padding: 20px;
}
.productEleven  h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.productEleven select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.productEleven input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #4240ce;
}
input:focus{
    outline: none;
}
.productEleven .fa{
    color: #4240ce;
    margin-left: 10px;
}

.smalleleven-img-row{
    display: flex;
    justify-content: space-between;
}
.smalleleven-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/*--------- 12th product details ----------*/

.productTwelve{
    margin-top: 80px;
}
.productTwelve .col-2 img{
    padding: 0;
}
.productTwelve .col-2{
    padding: 20px;
}
.productTwelve  h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.productTwelve select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.productTwelve input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #4240ce;
}
input:focus{
    outline: none;
}
.productTwelve .fa{
    color: #4240ce;
    margin-left: 10px;
}

.smalltwelve-img-row{
    display: flex;
    justify-content: space-between;
}
.smalltwelve-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/*----- cart items -------*/

.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #4240ce;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #4240ce;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #4240ce;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/*-----------account page-------*/

.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff,#ccc2f8);
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#LoginForm{
    left: -300px;
}
#RegForm{
    left: 0;
}
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: #4240ce;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

/*--- media query for less than 600 screen size--------*/
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product.row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 22px;
    }
    .cart-info p{
        display: none;
    }
}

/*------adddddddddddddddddddddd------------*/

.shopping-cart{
    box-sizing: border-box;
  }
   
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #d6f1d7;
    
    
    font-family: 'Roboto', sans-serif;
  }

  .shopping-cart {
    width: 750px;
    height: 423px;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 2px;
   
    display: flex;
    flex-direction: column;
  }

  .title {
    height: 60px;
    border-bottom: 1px solid #eef3f8;
    padding: 55px 30px;
    color: #07397a;
    font-size: 18px;
    font-weight: 400;
  }
   
  .item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
  }
   
  .item:nth-child(3) {
    border-top:  1px solid #1a4c77;
    border-bottom:  1px solid #1a4c77;
  }

 

 
  .image {
    margin-right: 50px;
  }

  .description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
  }
   
  .description span:first-child {
    margin-bottom: 5px;
  }
  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }
  .quantity {
    padding-top: 20px;
    margin-right: 60px;
  }
  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
   
  button[class*=btn] {
    width: 115px;
    height: 40px;
    background-color: #dea350;
    border-radius: 8px;
    font-size: 15px;
    border: none;
    cursor: pointer;
  }
  
 

  @media (max-width: 800px) {
    .shopping-cart {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
    .item {
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    .image {
      
     width: 100%;
    }
    .image,
    .quantity,
    .description {
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }
    .buttons {
      margin-right: 20px;
    }
  }

  .shop-item {
    margin: 30px;
 
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #10378b;
    background-color: rgb(253, 253, 253);
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display:block;
    margin: 40px auto 80px auto;
    font-size: 10px;
}